.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.hover-underline:hover {
  text-decoration: underline !important;
}

.gap-x-1 {
  column-gap: 1em;
}

.justify-end {
  justify-content: flex-end;
}

.logout-btn {
  text-decoration: none;
}

.logout-btn:hover {
  opacity: 0.8;
  text-decoration: underline;
  padding: 0;
}